@model Webbutveckling_med_.NET___Projekt.Models.Dog

@{
    ViewData["Title"] = "Delete Dog";
}

<!--Delete dog-->
<div class="container">
    <h1>Delete Dog</h1>
    <hr />


    <div class="dogPerson">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Breed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Breed)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Pic)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pic)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Reserved)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Reserved)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Adopted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Adopted)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="DogId" />
            <input type="submit" value="Delete" class="button" />    
        </form>
    </div>
    <a asp-action="Index">Back to List</a>
</div>