@model IEnumerable<Webbutveckling_med_.NET___Projekt.Models.Dog>

@{
	ViewData["Title"] = "Dogs";
}



<div class="containerTable">

	<h1>Dogs</h1>

	<hr />

	<p>
		<a class="button" asp-action="Create">Add dog</a>
	</p>
	<br />
	<br />
	<br />

	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.DogId)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Age)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Breed)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Gender)
				</th>

				<th>
					@Html.DisplayNameFor(model => model.Reserved)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Adopted)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.DogId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Age)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Breed)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Gender)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.Reserved)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Adopted)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.DogId">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.DogId">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.DogId">Delete</a>
					</td>
				</tr>
			}

		</tbody>
	</table>
</div>