@model Webbutveckling_med_.NET___Projekt.Models.Person

@{
    ViewData["Title"] = "Delete Person";
}

<!--Delete person-->
<div class="container">
    <h1>Delete Person</h1>
    <hr />

    <div class="dogPerson">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Firstname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lastname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNr)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNr)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="PersonId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
    <a asp-action="Index">Back to List</a>
</div>