@model IEnumerable<Webbutveckling_med_.NET___Projekt.Models.Person>

@{
	ViewData["Title"] = "People";
}


<div class="containerTable">

	<h1>People</h1>

	<hr />

	<p>
		<a class="button" asp-action="Index">All</a>
		<a class="button" asp-action="Reserved">Reserved</a>
		<a class="button" asp-action="Adopted">Adopted</a>	
	</p>

	<br />
	<br />
	<br />
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Firstname)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Lastname)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PhoneNr)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Email)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.City)
				</th>
				<th>
					DogId
				</th>
				<th>
					Dog name
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Firstname)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Lastname)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PhoneNr)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.City)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Dog.FirstOrDefault().DogId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Dog.FirstOrDefault().Name)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.PersonId">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>